<!-- SANITY CHECK BANNER
    This is just for checking, that your setup works.
    You can – and should – remove this later
-->

  @if (bannerError) {
    <div class="container mt-3 mb-3">
      <div class="alert alert-danger" role="alert">
        <h4>Error!</h4> {{ bannerError }}
        <p>Could not load horses.</p>
        <p>Something is not quite right. Did you start the backend?</p>
      </div>
    </div>
  } @else if (horses) {
    <div class="container mt-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Your application is up and running.</p>
        <p>You should see the current list of horses below.</p>
      </div>
    </div>
  }

<!-- END SANITY CHECK BANNER -->

<div class="d-flex flex-row w-auto">
  <button class="btn btn-primary mr-1" (click)="reloadHorses()" aria-label="Reload horses">
    <i class="bi bi-arrow-clockwise"></i>
    Reload
  </button>
  <span style="flex: 1"></span>
  <a class="btn btn-secondary" routerLink="create" aria-label="New horse">
    <i class="bi bi-plus-lg"></i>
    New horse
  </a>
</div>

<form [formGroup]="searchForm" class="d-flex flex-row w-auto mb-3">
  <div class="flex-grow-2">
    <label for="searchHorseName" class="col-form-label">Name</label>
    <input
      type="text"
      id="searchHorseName"
      formControlName="name"
      class="form-control"
      placeholder="Search by name...">
  </div>

  <div class="flex-grow-1 ms-1">
    <label for="searchHorseDescription" class="col-form-label">Description</label>
    <input
      type="text"
      id="searchHorseDescription"
      formControlName="description"
      class="form-control"
      placeholder="Search by description...">
  </div>

  <div class="ms-1">
    <label for="searchHorseDateOfBirth" class="col-form-label">Born Before</label>
    <input
      type="date"
      id="searchHorseDateOfBirth"
      formControlName="bornBefore"
      class="form-control">
  </div>

  <div class="ms-1">
    <label for="searchHorseSex" class="col-form-label">Sex</label>
    <select
      id="searchHorseSex"
      formControlName="sex"
      class="form-select">
      <option value="">All</option>
      <option value="FEMALE">Female</option>
      <option value="MALE">Male</option>
    </select>
  </div>

  <div class="flex-grow-2 ms-1">
    <label for="searchHorseOwner" class="col-form-label">Owner</label>
    <input
      type="text"
      id="searchHorseOwner"
      formControlName="ownerName"
      class="form-control"
      placeholder="Search by owner name...">
  </div>
</form>

<div class="mt-3">
  <table class="table table-hover">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Date of Birth</th>
    <th>Sex</th>
    <th>Owner</th>
    <th class="min-width">Actions</th>
    </thead>
    <tbody>
      @for (horse of horses; track horse.id) {
        <tr class="center-td">
          <td>{{ horse.name }}</td>
          <td>{{ horse.description }}</td>
          <td>{{ dateOfBirthAsLocaleDate(horse) }}</td>
          <td>{{ horse.sex === 'FEMALE' ? 'Female' : 'Male' }}</td>
          <td>{{ ownerName(horse.owner) }}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-sm responsive-info-button" [routerLink]="['detail', horse.id]"
                 aria-label="Show horse details">
                <i class="bi bi-info-lg"></i>
              </a>

              <a class="btn btn-sm btn-warning" [routerLink]="['edit', horse.id]"
                 aria-label="Edit horse">
                <i class="bi bi-pencil"></i>
              </a>

              <button class="btn btn-sm responsive-danger-button" (click)="horseForDeletion = horse"
                      data-bs-toggle="modal" data-bs-target="#delete-dialog" aria-label="Delete horse">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<app-confirm-delete-dialog
  id="delete-dialog"
  [hidden]="!horseForDeletion"
  [deleteWhat]="horseForDeletion?.name"
  (confirm)="deleteHorse(horseForDeletion)">
</app-confirm-delete-dialog>
